.row {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 12px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 22px;
  background-color: white;
}

.row:nth-of-type(odd) {
  background-color: white;
}

.row:nth-of-type(even) {
  background-color: #e0dfe7;
}

.button {
  height: 20px;
  width: 50px;
  margin-top: 10px;
  background-color: #001440;
  color: white;
}
